.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 12px;
}

.search-input {
  margin-top: 24px;
  display: flex;
}

.wide-text {
  display: flex;
  flex-flow: column wrap;
}

.wide-text p {
  margin: 0;
  text-align: center;
  font-size: 1.7rem;
  color: #716e6e;
}

.wide-text button {
  align-self: center;
}

.catalog-item {
  width: 320px;
  height: 360px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 2px -2px gray;
  background-color: whitesmoke;
  flex-direction: column;
  justify-content: space-between;
}
.catalog-item-block {
  box-shadow: 0 4px 2px -2px gray;
  width: 320px;
  height: 360px;
  background-color: lightgray;
}

.catalog-item img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.catalog-item .content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-item .content :first-child {
  color: #dc7313;
}

.catalog-item .content :last-child {
  text-decoration: underline;
}

.catalog-item .actions {
  margin: 0;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

input[type="search"] {
  background-color: whitesmoke;
  color: #242424;
  outline: none;
  border: none;
  height: 3rem;
  font-size: 1rem;
  border-radius: 12px 0px 0px 12px;
  padding: 1em 16px 1em 1em;
}

button {
  background-color: #dc7313;
  cursor: pointer;
  outline: none;
  border: none;
  color: whitesmoke;
}

button[type="submit"] {
  border-radius: 0px 12px 12px 0px;
  width: 3rem;
  height: 3rem;
}
button:disabled {
  background-color: lightgray;
}
button:hover:not(:disabled) {
  background-color: #a63109;
}

button[type="button"] {
  border-radius: 12px;
  font-size: 1rem;
  padding: 1em 16px;
}
